
.body{
display: block;
}
.custom-navbar{
    background-color: #555C43;
}
.navbar-brand > img {
    height: 80px;
    width:115px;
    display: block
    
}
.footer-custom{
    background-color: #555C43;
    color: black;
    bottom: 0;
}
.custom-size {
  position: relative;
  overflow: hidden;
}

 .custom-overlay{
    background-color: aliceblue;
    opacity: 0.8;
    color: black;
    object-fit: contain;
    padding: 5%;
}
.fade-card {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1.5s ease-in-out;
}

.fade-card.loaded {
  opacity: 1;
  transform: translateY(0);
}
.contact {
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  font-weight: 600;
}
.card-img {
  object-fit: cover;
  height: 100%;
}
.overlay-box {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;

  max-width: 100%;
  width: 100%;
}
@media (max-width: 767.98px) {
  .overlay-box {
    padding: 1rem;
    font-size: 0.95rem;
    text-align: center;
  }

  .overlay-box h2 {
    font-size: 1.5rem;
  }

  .card-img {
    object-position: center top;
    height: 70vh
  }

  .custom-size {
    height: auto;
  }

  .contact {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}

